
  .navLink {
    color: #1A375B !important;
    transition: none;
    border-bottom: 2px solid transparent;

    &:hover,
    a:hover {
      border-color: #ced4da;
    }
  }

  .active {
    font-weight: 700;
    border-color: #F8B513 !important;
  }


  @media (max-width: 450px) {
    .logoLink {
      max-width: 300px !important;
    }
  }
